body {
    background: #383838;
}
h1 {
    font-size: 34px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
form {
    margin: 50px auto;
}
.contenido-principal {
    margin: 50px auto;
    background-color: #1B1B1B;
    border-radius: 20px;
    -webkit-box-shadow: -1px 20px 52px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 20px 52px -13px rgba(0,0,0,0.75);
    box-shadow: -1px 40px 28px -13px rgba(0,0,0,0.75);
}
.mensajes {
    color: white;
}
#resultado {
    text-align: center;
}
.resultCard{
  background-color: #003366;
}
.btn {
    width: 100%;
    font-size: medium;
}
.contenido-spinner {
    display: none;
} 

/*  Toggle  */

.tgl {
    display: none;
  }
  .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
  }
  .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
  }
  .tgl + .tgl-btn {
    outline: 0;
    display: flex;
    width: 100%;
    height: 2.5em;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
  }
  .tgl + .tgl-btn:after {
    left: 0;
  }
  .tgl + .tgl-btn:before {
    display: none;
  }
  .tgl:checked + .tgl-btn:after {
    left: 50%;
  }
  
  .tgl-flip + .tgl-btn {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-family: sans-serif;
    -webkit-perspective: 100px;
            perspective: 100px;
  }
  .tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
    display: inline-block;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 4px;
  }
  .tgl-flip + .tgl-btn:after {
    content: attr(data-tg-on);
    text-transform: uppercase;
    background: #005ab3;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  .tgl-flip + .tgl-btn:before {
    background: #005ab3;
    content: attr(data-tg-off);
    text-transform: uppercase;
  }
  .tgl-flip + .tgl-btn:active:before {
    -webkit-transform: rotateY(-20deg);
            transform: rotateY(-20deg);
  }
  .tgl-flip:checked + .tgl-btn:before {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .tgl-flip:checked + .tgl-btn:after {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    left: 0;
    background: #4da6ff;
  }
  .tgl-flip:checked + .tgl-btn:active:after {
    -webkit-transform: rotateY(20deg);
            transform: rotateY(20deg);
  }

  @media (min-width: 767px){
    .tgl-btn{
        padding: 0px 35px;
        margin: 0 0 0 -10px;
    }
  }